@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-center;    
    }
    li {
        @apply px-6;
        @apply cursor-pointer;
        
    }
}

.content-div {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

a:hover {
    color: rgb(86, 86, 179)
 }

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(94, 92, 92, 0.8),
        rgb(237, 238, 241)   
    )!important;
}

